body {
	margin: 0;
}

/* --------------- TYPOGRAPHY START --------------- */

h1 {
	text-align: center;
	font-family: "Museo Slab";
	font-size: 2.3em;
	font-weight: 300;
	color: #2d3940;
}

h2 {
	text-align: center;
	font-family: "Museo Slab";
	font-size: 1.7em;
	font-weight: 500;
	color: #2d3940;
}

p {
	font-family: "Museo Sans";
	font-size: 1.2em;
	font-weight: 500;
	color: #2d3940; 
}

/* --------------- TYPOGRAPHY END --------------- */


/* --------------- NAVBAR START --------------- */
.navBullets {
    width: 402px;
    margin: 32px auto;
}

.navList {
	list-style: none;
	-webkit-padding-start: 0px;
}

.navBullet {
	margin-right: 60px;
	float: left;
}

.navBullet:last-child {
	margin-right: 0px;
}

.navTypo {
	font-family: "Museo Slab";
	font-size: 1.2em;
	letter-spacing: 0.02em;
	color: #2d3940;
	-webkit-transition: all ease-out 0.1s;
    -moz-transition: all ease-out 0.1s;
    -o-transition: all ease-out 0.1s;
    transition: all ease-out 0.1s;
}

.navTypo:hover {
	color: #ff6b00;	
}

#navTypoActive {
	color: #ff6b00;
}

.lastBullet {
	margin-right: 0px;
}
/* --------------- NAVBAR END --------------- */

/* --------------- MAINCONTENT START --------------- */

.mainContent {
	width: 960px;
	height: 2000px;
	margin: auto;
}

.content {
	width: 960px;
	margin-top: 80px;
	position: relative;
}

#content1 {
	height: 379px;
}

#content2 {
	height: 546px;
}

.contentHeader {
	width: 100%;
	height: 46px;
	margin-top: 80px;
	margin-bottom:20px;
}

.focusPoints {
	width: 100%;
	height: 320px;
}

.focusPoint {
	width: 320px;
	height: 320px;
	float: left;
}

.focusImage {
	width: 160px;
	height: 160px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

#focusImageFocus {
	background-image: url("../img/2_focus.png");
	background-size: 160px 160px;
}

#focusImagePrecision {
	background-image: url("../img/3_precision.png");
	background-size: 160px 160px;
}

#focusImageStructure {
	background-image: url("../img/1_structure.png");
	background-size: 160px 160px;
}

.focusTitle {
	margin-top: 30px;
}

.focusDescription {
	text-align: center;
	margin-top: 24px;
}

.cvComplete {
	width: 100%;
	height: 480px;
}

.cvRow {
	width: 100%;
	height: 80px;
	position: relative;
}

.cvLine {
	width: 100%;
	height: 2px;
	position: absolute;
	margin-top: 39px;
	background-color: orange;
}

#cvLine1 {
	width: 100px;
	margin-left: 860px;
}

#cvLine2 {
	width: 411px;
	margin-left: 549px;
}

#cvLine3 {
	width: 102px;
	margin-left: 407px;
}

#cvLine4 {
	width: 144px;
	margin-left: 263px;
}

#cvLine5 {
	width: 184px;
	margin-left: 80px;
}

#cvLine6 {
	width: 72px;
}


















